<div class="row-fluid" ng-repeat="(rowIndex, row) in graphs">
  <div class="block span4" ng-repeat="(colIndex, graph) in row">
    <div class="navbar navbar-inner block-header">
      <div class="muted pull-left">{{graph.repo}} - {{graph.milestone.title}}</div>
    </div>
    <div class="block-content collapse in">
      <table class="heading">
        <tr>
          <td></i>  {{graph.milestone.created_at | date:'MMM d'}} - {{graph.milestone.due_on | date:'MMM d'}}</td>
          <td><i class="icon-thumbs-up"></i> {{graph.milestone.closed_issues}} / {{graph.milestone.open_issues + graph.milestone.closed_issues}}</td>
          <td><a href="/{{graph.owner}}/{{graph.repo}}/{{graph.milestone.number}}" class="btn"><i class="icon-circle-arrow-right"></i> View</a></td>
        </tr>
      </table>
      <div class="row-fluid">
        <div id="graph-{{rowIndex * 3 + colIndex}}" class="graph"></div>
      </div>
    </div>
  </div>
</div>
