<div class="row-fluid show">
  <div class="pull-right">
    <a href="https://github.com/{{graph.owner}}/{{graph.repo}}/issues?milestone={{graph.milestone.number}}&state=open" class="btn" target="_blank"><i class="icon-search"></i> View in GitHub</a>
    <a class="btn" ng-class="{true: 'btn-danger', false: 'btn-primary'}[onDashboard]" ng-click="toggleDashboard()"><i ng-class="{true: 'icon-remove', false: 'icon-share'}[onDashboard]"></i> {{!onDashboard && 'Add to dashboard' || 'Remove from dashboard'}}</a>
  </div>
</div>

<div class="row-fluid show">
  <div class="block span12">
    <div class="navbar navbar-inner block-header">
      <div class="muted pull-left">{{graph.repo}}/{{graph.milestone.title}}</div>
    </div>
    <div class="block-content collapse in" >
      <p>{{graph.milestone.description}}</p>
      <p>Milestone time: {{graph.milestone.created_at | date:'fullDate'}} - {{graph.milestone.due_on | date:'fullDate'}}</p>
      <p>Issues {{graph.milestone.closed_issues}} / {{graph.milestone.open_issues + graph.milestone.closed_issues}}</p>
      <div id="graph"></div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="block span12">
    <div class="navbar navbar-inner block-header">
      <div class="muted pull-left">Open Issues ({{openIssues.length}})</div>
    </div>
    <div class="block-content collapse in" >
			<table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Issue</th>
            <th>Title</th>
            <th>Estimate</th>
            <th>Assignee</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="issue in openIssues">
            <td><a href="{{issue.html_url}}" target="_blank">#{{issue.number}}</a></td>
            <td>{{issue.title}}</td>
            <td class="{{issue.hasDefaultEstimation() ? 'default' : 'custom'}}">{{issue.estimationTime()}}</td>
            <td><img class="user-avatar" src="{{issue.assignee.avatar_url}}" title="{{issue.assignee.login}}" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>